.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px solid #b1191a;
}

header img {
    float: left;
    margin-top: 16px;
}

.registerarea {
    margin-top: 22px;
    height: 522px;
    border: 1px solid #ccc;
}

.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    font-size: 18px;
    font-weight: 400px;
    line-height: 42px;
    padding: 0 10px;
}

.login {
    float: right;
    font-size: 14px;
}

.login a {
    color: #ca2430;
}

.reg_form {
    width: 600px;
    padding-top: 40px;
    margin: 0 auto;
}

.reg_form ul li {
    height: 37px;
    line-height: 37px;
    margin-top: 20px;
}

.reg_form ul li label {
    float: left;
    display: block;
    width: 80px;
    text-align: right;
}

.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}

.reg_form ul li span {
    font-size: 12px;
}

.reg_form ul li span i {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 20px;
    background: url(../images/register_ca_03.png);
}

.safe {
    margin-left: 160px;
}

.safe em {
    padding: 0 12px;
    margin: 0 1px;
}

.ruo {
    background-color: #de1111;
}

.zhong {
    background-color: #408b3f;
}

.qiang {
    background-color: #f79100;
}

.agree {
    padding-left: 100px;
}

.agree input {
    vertical-align: middle;
}

.agree a {
    color: #1ba1e6;
}

.bgn {
    text-align: center;
    font-size: 14px;
    width: 200px;
    height: 34px;
    background-color: #c81623;
    color: #fff;
    margin: 30px 0 0 70px;
}

.mod_copyright {
    text-align: center;
}

.mod_copyright .links {
    padding-top: 20px;
    padding-bottom: 10px;
}

.mod_copyright .links a {
    margin: 0 12px;
}